@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
/* classes */
select {
  background-image: url(../img/dropdownarrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  cursor: pointer;
}

a {
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  margin-top: 2rem;
}

/* stylings */

header {
  background: #1d1e2a;
  padding: 20px 0;
}

body {
  background: #333442;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.navbar h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}
.navbar .nav-links {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
.navbar .nav-links:hover {
  color: #ffa60098;
}

.imageArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* --primary-color: #f9b64d; */
@media screen and (max-width: 768px) {
  header {
    padding: 10px 0;
  }
  .container {
    width: 90%;
  }
  .navbar h2 {
    font-size: 20px;
  }
  .navbar .nav-links {
    font-size: 16px;
  }
}
